<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">

    <title>
        <%= title %>
    </title>
</head>

<body>
    <header id="header" class="blue">
        <h3>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis ullam adipisci doloremque corrupti,
            dolores, nulla deserunt quis, officia ad velit vel quae animi soluta dolore! Sapiente magni molestias totam
            cumque?
        </h3>
    </header>
    <h1>
        <%= message %>
    </h1>
    <h2>Hello Ejs and Express</h2>

    <script src="main.js"></script>

</body>

</html>